@page "/motorcycles/store"
@using TylorTrubPortfolioBlazor.DTO.Models
@using TylorTrubPortfolioBlazor.Server.BL.Services
@using TylorTrubPortfolioBlazor.UI.Components.BodyComponents
@inject IMotorcyclesService MotorcyclesService

@if (motorcycles == null || motorcycles.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <MotorcyclesStoreIndexBody motorcycles="@motorcycles" />
}

@code {
    List<Motorcycle> motorcycles = new List<Motorcycle>();

    protected override async Task OnInitializedAsync()
    {
        motorcycles = await MotorcyclesService.FetchMotorcyclesAsync();
    }
}
