@using TylorTrubPortfolio.DTO.Models

@* I'd like to abstract more of this from vanilla HTML into MudBlazor components if/when possible. *@

<div>
    @for (int i = 0; i < pfImages.Count; i++)
    {
        if (i % 2 == 0 || i == 0)
        {
            // draw top row only and give image to top left col
            <div class="row">
                <div class="col-6">
                    <p style="float: left">
                        @pfImages[i].DisplayText
                    </p>
                    <img src="/Images/home/@pfImages[i].FileName" class="pull-left border-0 rounded">

                </div>
                <div class="row"></div>
                <div class="col-6">
                    <br>
                    @if (!(i + 1 == pfImages.Count))
                    {
                        <img src="/Images/home/lineTopLeftBottomRightWavy.png" class="img-fluid border-0 rounded">
                    }
                    else
                    {
                        <br />
                        <br />
                    }                    

                </div>
                <div class="col-6">
                </div>
            </div>
        }
        else // odd
        {
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-3">
                </div>
                <div class="col-6">
                    <p style="float: right">
                        @pfImages[i].DisplayText
                    </p>
                    <img src="/Images/home/@pfImages[i].FileName" class="pull-right border-0 rounded">
                </div>
                <div class="row"></div>
                <div class="col-6"></div>
                <div class="col-6">
                    <br>
                    @if (!(i + 1 == pfImages.Count))
                    {
                        <img src="/Images/home/lineTopRightBottomLeftWavy.png" class="img-fluid border-0 rounded">
                    }
                    else
                    {
                        <br />
                        <br />
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public List<PortfolioImage> pfImages { get; set; }
}
