@inherits LayoutComponentBase

<PageTitle>TylorTrub-Portfolio</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Home</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Projects</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Motorcycles</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Books</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Manage Order</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Cart</a>
            <div class="nav-seperator">
                |
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Privacy</a>

        </div>        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
