@using TylorTrubPortfolioBlazor.DTO.Models
@* @inject *@

<h3>CartIndexBody</h3>

@code {
    // List<Cart> carts = new List<Cart>();

    // protected override async Task OnInitializedAsync()
    // {
    //     carts = await CartsService.FetchCartsAsync();
    // }
}
