@using TylorTrubPortfolioBlazor.DTO.Models

<p>
    Note: This page is still under development.
</p>

<div id="videoCarousel" class="carousel slide" data-bs-ride="carousel">

    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>


    <div class="carousel-inner">
        <div class="carousel-item active">
            <iframe src="@videos[0].VideoUrl" width="1600" height="900" frameborder="0" allowfullscreen></iframe>
            @*             <video src="video1.mp4" autoplay loop muted></video> *@
        </div>
        <div class="carousel-item">
            @for (int i = 1; i < videos.Count; i++)
            {
                <iframe src="@videos[i].VideoUrl" width="1600" height="900" frameborder="0" allowfullscreen></iframe>
            }
        </div>
    </div>
</div>

<h2>Motorcycling Videos</h2>
<div id="video-player" class="embed-responsive embed-responsive-16by9 text-center">

    <div class="d-flex justify-content-center border-0">
        <div class="col"></div>
        <video class="col-10" src="@(videoPath)vet.mp4" style="border-radius: 10px;" controls></video>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <MudButton class="btn btn-primary container-fluid">
                LEFT
            </MudButton>
        </div>
        <div class="col-4 p-2">
            TITLE - Video
        </div>
        <div class="col-2">
            <MudButton class="btn btn-primary container-fluid">
                RIGHT
            </MudButton>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<br />
<br />
<br />

@code {

    string videoPath = "/videos/motorcycle/";
    string picturePath = "/Images/home/motorcycle/";

    [Parameter]
    public List<MotorcycleVideo> videos { get; set; }
} 