@using TylorTrubPortfolioBlazor.DTO.Models

<div class="container text-center">

    <h1>Welcome to the gaming section of my portfolio.</h1>

    <MudSimpleTable class="table table-bordered table-striped table-dark">
        <tr>
            <th>
                Game
            </th>
            <th>
                Preview
            </th>
            <th>
                Play
            </th>
        </tr>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>
                        <b>
                            @game.GameName
                        </b>
                    </td>
                    <td style="text-align: center;">
                        <a href="/Games/@game.GameName.Replace(" ", "")">
                            <img src="/Images/games/@game.Preview" class="border-0 rounded">
                        </a>
                    </td>
                    <td>
                        <a> @* was: asp-controller="Games" asp-action="@game.GameName.Replace(" ", "")" *@
                            <a href="/Games/@game.GameName.Replace(" ", "")">
                                +
                            </a>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>


@code {
    [Parameter]
    public List<Game> games { get; set; }
}
