<h1>test child component</h1>

<div class="container">
    <script src="/js/simon.js"></script>   
    <script>simonMain();</script>
    @* <button onclick="simonMain();">SIMON MAKE</button> *@
</div>

@code {

}
