<div class="container">
    <h1 class="text-center">Hangman</h1>
    <div class="float-right">Wrong Guesses: <span id='mistakes'>0</span> of <span id='maxWrong'></span></div>
    <div class="text-center">
        <img id='hangmanPic' src="./images/0.jpg" alt="">
        <p>Guess the Word:</p>
        <p id="wordSpotlight">The word to be guessed goes here</p>
        <div id="keyboard"></div>
        <br />
        <button class="btn btn-info" onClick="reset()">Reset</button>
    </div>
</div>

<script src="/js/hangman.js"></script>