<MudCard class="mx-auto container" Elevation="2">
    <MudCardContent>
        <h3 class="mb-4 text-center">Well met, my name is Tylor C. Trub.</h3>

        <MudSimpleTable Class="table table-striped overflow-hidden">
            <tbody>
                <tr>
                    <td class="text-center">
                        I am a full-stack developer, with a preference for C#.NET back-end.
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div Class="centered-nav">
                            Check out <MudNavLink Class="w-50 btn btn-primary m-2" style="max-width: 30%" href="projects/index">projects, example labs, and examples</MudNavLink> of my work above.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div Class="centered-nav">
                            I host the majority of my code on <MudNavLink Class="w-25 btn btn-primary m-2" style="max-width: 12%" href="https://github.com/DontDoThat21">GitHub.</MudNavLink>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div Class="centered-nav">
                            Relax and check out some some <MudNavLink Class="w-25 btn btn-primary m-2" style="max-width: 22.5%" hov href="games/index">HTML5/CSS3/JS games.</MudNavLink>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Available anytime at <a href="mailto:tylortrub@gmail.com">tylortrub@gmail.com</a>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>

        <h2 class="text-center mt-4">
            <MudNavLink href="/home/blazordemo">
                Check out my latest Blazor .NET 9 (developed 4/10/24) project!
            </MudNavLink>
        </h2>
    </MudCardContent>
</MudCard>

<br />
<div class="border-bottom" style="height: 5px; width: 100%;"></div>
<br />

@code {

}
