@using TylorTrubPortfolio.DTO.Models
<div class="container text-center">
    <h1>
        Welcome to the Motorcycle section of my portfolio!
    </h1>
    <br />
    <MudButton href="/Motorcycles/Collection" class="btn btn-primary text-center align-items-center p-4" style="height:70px; width:33%">
        <i class="bi bi-box2-heart"></i> &nbsp Visit my Motorcycle footage
    </MudButton>
    <br />
    <br />
    <br />
    <MudButton href="/Motorcycles/Store" class="btn btn-primary text-center align-items-center p-4" style="height:70px; width:33%">
        <i class="bi bi-shop-window"></i> &nbsp Visit Motorcycle Store
    </MudButton>
</div>

@code {

}
