@using TylorTrubPortfolioBlazor.DTO.Models
@inject NavigationManager nav

<div class="container">
    <h1>Motorcycle Store - New and used Bikes</h1>

    <MudSimpleTable id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Motorcycle</th>
                <th>Manufacturer</th>
                <th>Engine CCs</th>
                <th>Image</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Motorcycle motorcycle in motorcycles)
            {
                <tr>
                    <td>@motorcycle.MotorcycleName</td>
                    <td>@motorcycle.Manufacturer</td>
                    <td>@motorcycle.MotorcycleCc</td>
                    <td><img src="Images/Home/Motorcycle/@motorcycle.Picture" width="356px" height="200px" class="border-0 rounded" @onclick="() => RedirectToDetails(motorcycle)" /></td>
                    <td>@motorcycle.Year</td>
                    <td><MudButton Style="background: orange;" @onclick="() => RedirectToDetails(motorcycle)">BUY</MudButton></td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>

@code {
    [Parameter]
    public List<Motorcycle> motorcycles { get; set; }

    private async Task RedirectToDetails(Motorcycle motorcycle)
    {
        nav.NavigateTo($"/motorcycles/details/{motorcycle.Id.ToString()}");
    }
}
