@page "/home/index"
@page "/"
@using System.Configuration
@using TylorTrubPortfolioBlazor.DTO.Models
@using TylorTrubPortfolioBlazor.Server.BL.Services
@using TylorTrubPortfolioBlazor.UI.Components.BodyComponents
@using TylorTrubPortfolioBlazor.UI.Components.ModelComponents

@inject NavigationManager NavManager
@inject IPortfolioImageService PortfolioImageService

<PageTitle>Portfolio</PageTitle>

<HomeIndexBody></HomeIndexBody>
<div style="padding: 10px">
    <PortfolioImageComponent pfImages="@pfImageList" />
</div>

@code {

    List<PortfolioImage> pfImageList = new List<PortfolioImage>();

    protected override async Task OnInitializedAsync()
    {
        pfImageList = await PortfolioImageService.FetchPortfolioImagesAsync();
    }
}