@page "/projects/index"

@using TylorTrubPortfolioBlazor.DTO.Models
@using TylorTrubPortfolioBlazor.Server.BL.Services
@inject NavigationManager NavManager
@inject IProjectsService ProjectsService

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Language
        </th>
        <th>
            Project photo
        </th>
        <th>
            GitHub URL
        </th>
    </tr>
    <tbody>
        @foreach (var project in projectList)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" href="/Projects/@project.Name.ToString().Replace(" ", "")">@project.Name</a>
                </td>
                <td>
                    @project.Language
                </td>
                <td>
                    <a class="btn btn-primary" href="/Projects/@project.Name.ToString().Replace(" ", "")"><img src="/Images/project/@project.ProjectPhoto" width="400px" height="300px" /></a>
                </td>
                <td>
                    <a>
                        <a href="@project.Url">@project.Url</a>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Project> projectList = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projectList = await ProjectsService.FetchProjectsAsync();
    }
}
